{% extends 'base.html' %}
{% block title %}My Profile{% endblock %}
{% block page_title %}My Profile{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body p-4">
        <h6 class="mb-3">Account Details</h6>
        <form method="post">
          {% csrf_token %}
          <div class="row g-3">
            <div class="col-6">
              <label class="form-label">First name</label>
              {{ form.first_name }}
            </div>
            <div class="col-6">
              <label class="form-label">Last name</label>
              {{ form.last_name }}
            </div>
            <div class="col-12">
              <label class="form-label">Email</label>
              {{ form.email }}
            </div>
            <div class="col-12">
              <label class="form-label">Phone</label>
              {{ form.phone }}
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-4">Save Changes</button>
          <a href="{% url 'accounts:change_password' %}" class="btn btn-outline-secondary mt-4">Change Password</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
